# Standard PostgreSQL connection strings
DATABASE_URL="postgresql://neondb_owner:password@host-pooler.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://neondb_owner:password@host.tech/neondb?sslmode=require"
